<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="ClientCreationSuite">
    <suite-files>
        <suite-file path="src/test/resources/auto.tests/TC01ClientCreationTest.xml"></suite-file>
        <suite-file path="src/test/resources/auto.tests/TC02ItemCheckoutTest.xml"></suite-file>
    </suite-files>
</suite>
